.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px;
}

.App-footer {
  text-align: center;
  margin: 30px;
  font-family: "Raleway", sans-serif;
}

body {
  background: #fdf5df;
  font-family: "Raleway", sans-serif;
}

a {
  color: #123c69;
  font-family: "Raleway", sans-serif;
}
main {
  font-family: "Raleway", sans-serif;
}
